@font-face {
	font-family: 'LabilGroteskRegular';
	src: url('../../assets/fonts/LabilGrotesk-Regular.woff') format('woff'), url('../../assets/fonts/LabilGrotesk-Regular.woff2.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
